# SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>
#
# SPDX-License-Identifier: CC-BY-4.0
# SPDX-License-Identifier: MIT

[submodule ".makefile/core"]
	path = .makefile/core
	url = ../../m6e/core.git
