# SPDX-FileCopyrightText: 2026 Damián Búho <damian.buho@proton.me>
# SPDX-FileCopyrightText: 2026 Projectfile <hello@projectfile.org>
#
# SPDX-License-Identifier: MIT
# SPDX-License-Identifier: MIT AND CC-BY-4.0

* damian.buho@proton.me
